body {
    text-align: center;
    font-family: Arial;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    cursor: pointer;
    border: 2px solid #ccc;
    padding: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}


img {
    width: 200px;
    height: 200px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 10px;
}

html {
    scroll-behavior: smooth;
}

.project {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    background: #333;
    color: white;
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 20px;
}
